.jumbotron{
    background-color: rgb(22, 177, 161);
    color: white;
}

.footer{
    padding: 10px 10px 0px 10px;
    background-color: rgb(22, 177, 161);
    margin-bottom: 0px;
    margin-top: 10px;
}

.btn{
    background-color: rgb(22, 177, 161);
}

.card-hotel{
    flex: 1 150px;
    padding: 20px 20px 20px 20px;
}

.btn-style{
    width: 100%;
}

.navbar-brand{
    margin-left: 20px;
}

.navbar-toggler{
    margin-right: 20px;
}

.footer-address-icon{
    padding-right: 10px;
}